<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.datastopwatch">

    <application
        android:name="io.github.datastopwatch.ClassApplication"
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cyanea.Dark">
        <activity
            android:name="io.github.datastopwatch.LicenseActivity"
            android:label="@string/license"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="io.github.datastopwatch.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>